    body {
        margin-top: 0;
    }
    
    @font-face {
        font-family: 'yekan';
        font-style: normal;
        font-weight: 100;
        src: url(../font/yekan.eot?#) format('embedded-opentype'), url(../font/yekan.woff) format('woff'), url(../font/yekan.ttf) format('truetype');
    }
    
    .font-y {
        font-family: 'yekan';
    }
    
    .d-rtl {
        direction: rtl;
    }
    /* navbar */
    
    .navbarr {
        position: relative;
        z-index: 200;
    }
    
    .navbar-navigation {
        width: 100%;
        height: 100vh;
        background-color: rgba(110, 102, 102, 0.5);
        position: fixed;
        right: -100%;
    }
    
    .nav-llist {
        width: 100%;
    }
    
    .nav-llink {
        font-family: 'yekan';
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s;
    }
    
    .nav-llink:hover {
        text-decoration: none;
        color: rgb(145, 145, 155);
    }
    
    .nav-iitem {
        width: 100%;
        display: block;
        border-bottom: 1.6px solid white;
    }
    
    .navbar-navigation-right {
        width: 25%;
        height: 100vh;
        background-color: #383535;
        position: fixed;
        right: -25%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.6s;
    }
    /* sin-rig */
    
    .bnts {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .log-rig-btn {
        background-color: transparent;
        border: none;
    }
    
    .log-rig-btn:focus {
        outline: none;
    }
    
    .link-log-rig {
        width: 100%;
        color: white;
        padding: 10px 40px;
        background-image: linear-gradient(45deg, rgb(143, 21, 21) 50%, rgb(161, 24, 24)50%);
        height: 100%;
    }
    
    .link-log-rig:hover {
        text-decoration: none;
        color: white;
    }
    
    @media screen and (max-width:389.98px) {
        .link-log-rig {
            width: 100%;
            color: white;
            padding: 10px 20px;
            font-size: 12px;
        }
    }
    /*end  sin-rig */
    
    .checkbox:checked~.navbar-navigation {
        right: 0;
    }
    
    .checkbox:checked~.navbar-navigation .navbar-navigation-right {
        right: 0;
    }
    
    .checkbox:checked~.hamburger-menu .menu {
        transform: rotateZ(90deg);
    }
    
    .checkbox:checked~.hamburger-menu .menu-line-1 {
        transform: rotateZ(-40deg);
    }
    
    .checkbox:checked~.hamburger-menu .menu-line-2 {
        opacity: 0;
    }
    
    .checkbox:checked~.hamburger-menu .menu-line {
        background-color: rgb(255, 255, 255);
    }
    
    .checkbox:checked~.hamburger-menu .menu-line-3 {
        transform: rotateZ(40deg);
    }
    
    .checkbox:checked .navbar {
        background-color: rgba(121, 121, 121, 0.5);
    }
    
    .hamburger-menu {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10%;
        right: 5%;
        z-index: 300;
    }
    
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform .5s;
    }
    
    .menu-line {
        width: 100%;
        height: 4px;
        background-color: rgb(155, 153, 153);
        transition: all .5s .5s;
        transform-origin: right;
    }
    
    @media screen and (max-width:1199.98px) {
        .navbar-navigation-right {
            width: 30%;
            right: -30%;
        }
        .hamburger-menu {
            top: 7%;
            right: 5%;
        }
    }
    
    @media screen and (max-width:799.98px) {
        .navbar-navigation-right {
            width: 37%;
            right: -37%;
        }
        .hamburger-menu {
            top: 7%;
            right: 5%;
        }
    }
    
    @media screen and (max-width:575.98px) {
        .navbar-navigation-right {
            width: 60%;
            right: -60%;
        }
    }
    
    @media screen and (max-width:409.98px) {
        .navbar-navigation-right {
            width: 70%;
            right: -70%;
        }
    }
    /* end navbar */
    /* header */
    
    .header {
        position: relative;
    }
    
    #slider {
        width: 100%;
        height: 40vw;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 7px #333;
    }
    
    #slider img {
        top: -6vw;
        position: absolute;
        width: 100%;
    }
    
    .sliide {
        display: none;
        animation: fade 0.6s;
    }
    
    .sliide.actiive {
        display: block;
    }
    
    .text-1 {
        color: #fff;
        position: absolute;
        top: 40%;
        right: 15%;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    
    .text-2 {
        color: #fff;
        position: absolute;
        top: 40%;
        right: 0;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    
    .prev,
    .next {
        color: rgba(255, 255, 255, 0.3);
        text-decoration: none;
        font-size: 40px;
        position: absolute;
        top: 50%;
        transition: all 0.3s;
        transform: translate(0, -50%);
    }
    
    .prev {
        left: 45px;
    }
    
    .next {
        right: 45px;
    }
    
    .prev:hover,
    .next:hover {
        font-size: 50px;
        color: white;
    }
    
    .h-slider-1 {
        display: inline;
        background-color: rgba(124, 124, 124, 0.4);
        border-right: 4px solid rgb(161, 24, 24);
    }
    
    .h-slider-01 {
        display: inline;
        background-color: rgba(124, 124, 124, 0.4);
        font-weight: 800;
        border-bottom: 3px solid rgb(17, 17, 17);
    }
    
    .h-slider-03,
    .h-slider-033 {
        font-weight: 700;
    }
    
    .h-slider-12 {
        display: inline;
        border-right: 4px solid rgb(161, 24, 24);
        border-left: 4px solid rgb(161, 24, 24);
    }
    
    .span-slide,
    .span-slide-11 {
        color: rgb(161, 24, 24);
        font-weight: 600;
        font-size: 40px;
    }
    
    .span-blue {
        color: rgb(32, 38, 121);
        font-weight: 600;
        font-size: 40px;
    }
    
    .span-slide-2 {
        color: rgb(104, 100, 100);
        font-weight: 600;
        font-size: 40px;
    }
    
    .btns-slide {
        padding-right: 100px;
    }
    
    .btn-slider-link {
        padding: 6px 35px;
        background-color: rgb(161, 24, 24);
        transition: all .3s;
    }
    
    .btn-slider-link:hover {
        transform: scale(1.2);
        border: 2px solid rgb(128, 128, 128);
    }
    
    .btn-slider-link-2 {
        padding: 6px 35px;
        background-color: rgb(161, 24, 24);
        transition: all .4s;
    }
    
    .btn-slider-link-2:hover {
        padding-left: 120px;
    }
    
    .btn-slider-link-2:hover .btn-link-slide-2 {
        text-decoration: none;
        padding-right: 75px;
    }
    
    .btn-link-slide:hover {
        text-decoration: none;
    }
    
    .btns-slide-22 {
        padding-top: 1.5rem;
    }
    
    .btn-link-slide-2 {
        transition: all .4s;
    }
    
    @keyframes fade {
        0% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
    }
    
    @media screen and (max-width:1098.98px) {
        .h-slider-1 {
            font-size: 23px;
        }
        .h-slider-2 {
            padding-top: 0 !important;
            font-size: 19px;
        }
        .h-slider-3 {
            margin-top: -14px !important;
            font-size: 23px;
        }
        .h-slider-003 {
            margin-top: 4px !important;
            font-size: 23px;
        }
        .h-slider-003-h3 {
            padding-top: 5px !important;
            font-size: 23px !important;
        }
        .span-slide-2 {
            font-size: 30px !important;
        }
        .btns-slide {
            padding-top: 10px !important;
        }
        .h-slider-03,
        .h-slider-033 {
            margin-top: -10px !important;
        }
    }
    
    @media screen and (max-width:949.98px) {
        #slider {
            height: 50vw;
        }
        #slider img {
            top: 0;
            position: absolute;
            width: 100%;
        }
    }
    
    @media screen and (max-width:767.98px) {
        .h-slider-1 {
            font-size: 15px;
        }
        .h-slider-2 {
            padding-top: 5px !important;
            font-size: 13px;
        }
        .span-slide {
            color: rgb(161, 24, 24);
            font-weight: 600;
            font-size: 25px;
        }
        .btn-link-slide {
            font-size: 13px;
        }
        .hamburger-menu {
            width: 23px;
            height: 23px;
        }
        .h-slider-3 {
            margin-top: -14px !important;
            font-size: 17px !important;
        }
        .btn-slider-link-2 {
            padding: 3px 25px;
        }
        .btn-slider-link-2:hover {
            padding-left: 100px;
        }
        .btn-slider-link {
            padding: 3px 25px;
        }
        .h-slider-12 {
            font-size: 17px;
        }
        .span-blue {
            font-size: 25px;
        }
        .h-slider-003 {
            margin-top: 0px !important;
            font-size: 17px !important;
        }
        .h-slider-003-h3 {
            font-size: 17px !important;
        }
        .h2-slider-2 {
            font-size: 17px !important;
        }
        .btn-slider-link-22 {
            padding-top: 0.5rem !important;
        }
        .span-slide-11 {
            font-size: 23PX !important;
        }
        .span-slide-2 {
            font-size: 20px;
        }
        .btns-slide {
            padding-top: 10px !important;
        }
        .h-slider-03 {
            font-size: 23px;
        }
        .h-slider-033 {
            font-size: 17px;
        }
        .h-slider-01 {
            font-size: 20px;
            color: white !important;
        }
        .btns-slide-22 {
            padding-top: 0.5rem;
        }
        .prev,
        .next {
            font-size: 30px;
        }
        .prev {
            left: 30px;
        }
        .next {
            right: 30px;
        }
        .prev:hover,
        .next:hover {
            font-size: 40px;
        }
        #slider {
            height: 70vw;
        }
        #slider img {
            height: 70vw;
            object-fit: cover;
        }
    }
    
    @media screen and (max-width:575.98px) {
        #slider {
            height: 90vw;
        }
        #slider img {
            height: 90vw;
            object-fit: cover;
        }
    }
    
    @media screen and (max-width:374.98px) {
        #slider {
            height: 130vw;
        }
        #slider img {
            height: 130vw;
            object-fit: cover;
        }
        .prev {
            left: 10px;
        }
        .next {
            right: 10px;
        }
        .h-slider-1 {
            border-left: 4px solid rgb(161, 24, 24);
            font-size: 14px;
        }
        .header-slide {
            text-align: center !important;
        }
        .text-1 {
            right: 0 !important;
        }
        .h-slider-2 {
            text-align: center !important;
            padding-top: 5px !important;
            font-size: 13px;
        }
        .btns-slide {
            text-align: center !important;
            padding-right: 0 !important;
        }
        .span-slide {
            color: rgb(161, 24, 24);
            font-weight: 600;
            font-size: 20px;
        }
        .btn-link-slide {
            font-size: 13px;
        }
        .btn-link-slide-2 {
            font-size: 13px;
        }
        .hamburger-menu {
            width: 23px;
            height: 23px;
        }
        .h-slider-3 {
            text-align: center !important;
            margin-top: -14px !important;
            font-size: 17px !important;
        }
        .btn-slider-link-2 {
            padding: 3px 17px;
        }
        .btn-slider-link-2:hover {
            padding-left: 80px;
        }
        .btn-slider-link {
            padding: 3px 25px;
        }
        .h-slider-12 {
            font-size: 13px;
        }
        .span-blue {
            font-size: 20px;
        }
        .btns-slide-2 {
            text-align: center !important;
        }
        .h-slider-003 {
            text-align: center !important;
            font-size: 13px !important;
        }
        .h-slider-003-h3 {
            font-size: 12px !important;
        }
        .h2-slider-2 {
            font-size: 13px !important;
        }
        .btn-slider-link-22 {
            padding-top: 0.5rem !important;
        }
        .span-slide-11 {
            font-size: 17PX !important;
        }
        .span-slide-2 {
            font-size: 20px;
        }
        .btns-slide {
            padding-top: 10px !important;
        }
        .h-slider-03 {
            font-size: 15px;
        }
        .h-slider-033 {
            font-size: 13px;
        }
        .h-slider-01 {
            font-size: 13px;
        }
        .btns-slide-22 {
            text-align: center !important;
        }
        .prev,
        .next {
            font-size: 20px;
        }
        .prev:hover,
        .next:hover {
            font-size: 27px;
        }
    }
    /* end header */
    /* navbar content */
    
    .div-dropdown-navbar {
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px;
        box-shadow: -1px 1px 6px rgba(170, 176, 209, 0.3);
        border-radius: 0;
        transform: translate3d(0px, 38px, 0px);
    }
    
    .drop-tle {
        color: white;
        padding: 6px 20px !important;
        border-radius: 0 !important;
        border-right: 2px solid white;
        border-left: 2px solid white;
        transition: all 0.3s;
        background-color: transparent;
        border-top: none;
        border-bottom: none;
    }
    
    .drop-tle:focus {
        outline-style: none !important;
    }
    
    .drop-tle:hover {
        color: rgb(97, 91, 91);
    }
    
    .nav-content {
        box-shadow: 0 0 7px #333;
    }
    
    .dropdown-item {
        color: white;
        padding-bottom: 15px;
        border-bottom: 2px dashed white;
    }
    
    .dropdown-item:hover {
        color: rgb(17, 17, 17);
        background-color: gray;
    }
    
    .navbar {
        background: rgb(161, 24, 24);
        display: flex;
        justify-content: space-around;
    }
    
    .dropdown-item {
        text-align: right;
    }
    
    @media screen and (max-width:959.98px) {
        .navbar {
            background: rgb(161, 24, 24);
            display: flex;
            justify-content: center;
        }
        .drop-1 {
            margin-left: 30px !important;
        }
        .navbar-navigation-right {
            width: 50%;
            right: -50%;
        }
    }
    
    @media screen and (max-width:767.98px) {
        .dropdown-item {
            text-align: center;
            font-size: 15px;
        }
        .drop-1 {
            margin-left: -10px !important;
        }
        .drop-tle {
            font-size: 13px;
        }
        .dropdown-menu {
            width: 20px !important;
        }
    }
    
    @media screen and (max-width:575.98px) {
        .nav-collapse-bar {
            display: block !important;
        }
        .nav-content {
            display: none !important;
        }
        .navbar-navigation-right {
            overflow-y: scroll;
            padding-top: 50% !important;
        }
        .btn-div-or {
            padding-bottom: 100px;
        }
        .nav-llink {
            font-size: 15px;
        }
        .bar {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .nav-llink-2 {
            padding-right: 20px !important;
        }
    }
    
    @media screen and (max-width:449.98px) {
        .navbar-navigation-right {
            padding-top: 90% !important;
        }
    }
    
    .nav-collapse-bar {
        display: none;
    }
    
    .bar {
        background: rgb(54, 51, 51);
    }
    
    .bar:focus {
        background: rgb(27, 25, 25);
    }
    
    .navbar-icon {
        font-size: 1.3rem;
        padding-left: 5PX;
        color: var(--blue-me);
    }
    
    .navbar-toggler:focus {
        outline: none !important;
    }
    
    .nav-link {
        color: black;
        text-transform: capitalize;
    }
    
    .nav-link:hover {
        color: var(--blue-me);
    }
    
    .nav-icon {
        font-size: 1.5rem;
        color: var(--blue-me);
        text-decoration: none !important;
        transition-property: color;
        text-rendering: 2s;
        transition-timing-function: linear;
    }
    
    .nav-icon:hover {
        color: black;
    }
    
    .nav-llink-2 {
        font-family: 'yekan';
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        margin: 10px;
        padding: 7px;
        text-align: right;
        transition: all 0.5s;
        background-color: rgb(34, 33, 34);
    }
    
    .nav-llink-2:hover {
        text-decoration: none;
        color: rgb(145, 145, 155);
    }
    /* end navbar content */
    /* header-content */
    
    .div-news-1,
    .div-news-2,
    .div-news-3,
    .div-news-4 {
        background-color: rgb(161, 24, 24);
        height: 70px;
    }
    
    .div-news-1 {
        background-color: rgb(158, 0, 0);
        width: 300px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%);
    }
    
    .header-news-1 {
        padding-left: 0;
        padding-right: 0;
        margin-top: 70px;
    }
    
    .div-news-2 {
        background-color: rgb(153, 23, 23);
        width: 170px;
        margin-right: -17px;
        clip-path: polygon(31% 0%, 84% 0%, 100% 100%, 48% 100%);
    }
    
    .div-news-3 {
        background-color: rgb(156, 49, 49);
        width: 130px;
        margin-right: -92px;
        clip-path: polygon(0% 0%, 60% 0%, 100% 184%, 22% 100%);
    }
    
    .h3-news-1 {
        color: white;
        font-size: 21px;
        text-align: center;
        padding-top: 18px;
    }
    
    .div-news-4 {
        background-color: rgb(156, 60, 60);
        clip-path: polygon(0% 0%, 50% 0%, 100% 181%, 26% 100%);
        width: 100px;
        margin-right: -39px;
    }
    
    @media screen and (max-width:991.98px) {
        .div-news-1 {
            width: 260px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%);
        }
        .div-news-2 {
            width: 130px;
            margin-right: -13px;
            clip-path: polygon(31% 0%, 82% 0%, 100% 100%, 48% 100%);
        }
        .div-news-3 {
            width: 90px;
            margin-right: -68px;
            clip-path: polygon(0% 0%, 57% 0%, 100% 184%, 22% 100%);
        }
        .div-news-4 {
            clip-path: polygon(0% 0%, 43% 0%, 100% 181%, 30% 100%);
            width: 60px;
            margin-right: -23px;
        }
        .header-news-1 {
            margin-top: 40px;
        }
    }
    
    @media screen and (max-width:575.98px) {
        .div-news-1,
        .div-news-2,
        .div-news-3,
        .div-news-4 {
            height: 50px;
        }
        .header-news-1 {
            padding-right: 20px;
            margin-top: 20px;
        }
        .div-news-1 {
            width: 230px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        .div-news-2 {
            width: 60px;
            margin-right: 5px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        .div-news-3 {
            width: 40px;
            margin-right: 5px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        .h3-news-1 {
            color: white;
            font-size: 17px;
            background-color: transparent;
            text-align: center;
            padding-top: 12px;
        }
        .div-news-4 {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            width: 20px;
            margin-right: 5px;
        }
    }
    
    @media screen and (max-width:449.98px) {
        .div-news-2,
        .div-news-3,
        .div-news-4 {
            display: none !important;
        }
        .header-news-1 {
            margin-top: 20px;
        }
        .div-news-1 {
            border-left: 10px solid rgb(156, 60, 60);
            border-right: 10px solid rgb(156, 60, 60);
            width: 230px;
            margin: 0 auto !important;
        }
        .h3-news-1 {
            font-size: 17px;
            text-align: center;
            padding-top: 12px;
        }
    }
    /* end header-content */
    /* content*/
    /* content-1-news */
    
    .div-news-solo-1 {
        background: url("../img/news-1.webp") center no-repeat;
    }
    
    .div-news-solo-2 {
        background: url("../img/david-lynch-1.webp") center no-repeat;
    }
    
    .div-news-solo-3 {
        background: url("../img/cherry-h.webp") center no-repeat;
    }
    
    .div-news-solo-4 {
        background: url("../img/the-expanse-tv-shows.webp") center no-repeat;
    }
    
    .div-news-solo-5 {
        background: url("../img/joaquin-phoenix.jpg") center no-repeat;
    }
    
    .div-news-solo-6 {
        background: url("../img/gurdians-galaxy.jpg") center no-repeat;
    }
    
    .div-news-solo-1,
    .div-news-solo-2,
    .div-news-solo-3,
    .div-news-solo-4,
    .div-news-solo-5,
    .div-news-solo-6 {
        transition: all .5s;
        height: 400px;
        position: relative;
        margin-top: 25px;
    }
    
    .headers-news {
        width: 100%;
        position: absolute;
        bottom: 10px;
    }
    
    .btn-col-news {
        opacity: 0;
        background-color: rgb(161, 24, 24);
        border-radius: 0 !important;
        transition: all .5s;
    }
    
    .div-news-solo-1:hover .btn-col-news {
        opacity: 1;
    }
    
    .div-news-solo-2:hover .btn-col-news {
        opacity: 1;
    }
    
    .div-news-solo-3:hover .btn-col-news {
        opacity: 1;
    }
    
    .div-news-solo-4:hover .btn-col-news {
        opacity: 1;
    }
    
    .div-news-solo-5:hover .btn-col-news {
        opacity: 1;
    }
    
    .div-news-solo-6:hover .btn-col-news {
        opacity: 1;
    }
    
    .btn-col-news-link {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.4s;
    }
    
    .btn-col-news:hover .btn-col-news-link {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .header-text-news1 {
        padding: 0px 15px;
        font-size: 20px;
    }
    
    .header-text-news2 {
        padding: 5px 15px;
        font-size: 15px;
    }
    
    .ul-news-col {
        text-align: center;
        background-color: rgb(161, 24, 24);
        list-style: none !important;
    }
    
    .li-news-col {
        padding-left: 20px;
    }
    
    .news-text-1 {
        height: 100%;
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        text-align: right;
        color: white;
        transition: all .4s;
    }
    
    .div-news-solo-1:hover,
    .div-news-solo-2:hover,
    .div-news-solo-3:hover,
    .div-news-solo-4:hover,
    .div-news-solo-5:hover,
    .div-news-solo-6:hover {
        transform: scale(0.96);
    }
    
    .div-news-solo-1:hover .news-text-1 {
        opacity: 1;
    }
    
    .div-news-solo-2:hover .news-text-1 {
        opacity: 1;
    }
    
    .div-news-solo-3:hover .news-text-1 {
        opacity: 1;
    }
    
    .div-news-solo-4:hover .news-text-1 {
        opacity: 1;
    }
    
    .div-news-solo-5:hover .news-text-1 {
        opacity: 1;
    }
    
    .div-news-solo-6:hover .news-text-1 {
        opacity: 1;
    }
    
    .btn-link-cols {
        color: rgb(255, 255, 255);
        font-size: 20px;
        transition: all 0.4s;
    }
    
    .btn-link-cols:hover {
        color: rgb(187, 187, 187);
        /* font-size: 25px; */
        text-decoration: none;
    }
    
    @media screen and (max-width:767.98px) {
        .div-news-solo-1,
        .div-news-solo-2,
        .div-news-solo-3,
        .div-news-solo-4,
        .div-news-solo-5,
        .div-news-solo-6 {
            margin-top: 15px;
        }
    }
    /* end content-1-news */
    /* content-2-ticket */
    
    .sub-title-ticket-h3 {
        position: relative;
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 40px;
        padding-bottom: 20px;
        padding-right: 30px;
    }
    
    .sub-title-ticket-h3::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #cccccc;
        bottom: 0;
        left: 0;
    }
    
    .sub-title-ticket-h3::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 5px;
        bottom: 0;
        right: 25px;
        background-color: rgb(161, 24, 24);
        z-index: 1;
    }
    
    .div-img-text-post {
        width: 100%;
        height: 100%;
    }
    
    .post:focus {
        outline: none !important;
    }
    
    .img-div-post {
        height: 50%;
        width: 100%;
    }
    
    .img-div-post img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .div-text-post {
        height: 50%;
        width: 100%;
        background-image: linear-gradient(20deg, rgb(196, 1, 1) 30%, rgb(133, 0, 0) 10% 60%, rgb(15, 14, 14) 50% 70%);
    }
    
    .posts-slider-all {
        width: 100%;
        position: relative;
    }
    
    .prevv,
    .nextt {
        color: white;
        position: absolute;
        font-size: 40px;
    }
    
    .prevv:hover,
    .nextt:hover {
        color: rgb(160, 153, 153);
        font-size: 40px;
    }
    
    .prevv {
        top: 40%;
    }
    
    .nextt {
        top: 40%;
        right: 0;
    }
    
    .posts-slider-all .post-slider {
        width: 100%;
        margin: 20px auto;
        height: 600px;
        overflow-x: hidden;
    }
    
    .posts-slider-all .post-slider .post {
        margin: 20px 15px;
        display: inline-block;
        height: 500px;
        width: 300px;
        transition: all 0.6s;
    }
    
    .slick-center {
        transform: scale(1.1);
    }
    
    .name-post {
        padding: 20px 0px;
        color: white;
        font-weight: 700;
        text-align: center;
    }
    
    .time-post {
        padding: 10px 0px;
    }
    
    .time-post,
    .place-post {
        text-align: center;
        color: white;
    }
    
    .title-place-post {
        margin: 0 auto;
        padding: 5px;
        width: 80%;
        background-color: white;
        font-weight: 600;
        color: rgb(161, 24, 24);
        border: 2px solid white;
        transition: all 0.4s;
    }
    
    .title-time-post {
        margin: 0 auto;
        padding: 5px;
        width: 80%;
        font-weight: 500;
        border: 2px solid white;
    }
    
    .buy-post {
        text-align: center;
        padding-top: 25px;
    }
    
    .btn-buy-post {
        border: 2px solid white;
        background-color: transparent;
        width: 50%;
        transition: all 0.4s;
        padding: 3px 10px;
    }
    
    .btn-buy-post:hover {
        background-color: white;
        width: 80%;
    }
    
    .btn-buy-post:hover .link-buy-post {
        color: rgb(161, 24, 24);
    }
    
    .link-buy-post {
        color: white;
        font-weight: 600;
    }
    
    .btn-buy-post:focus,
    .link-buy-post:focus {
        outline: none !important;
    }
    
    .link-buy-post:hover {
        color: white;
        text-decoration: none;
    }
    
    @media screen and (max-width:1199.98px) {
        .title-name-post {
            font-size: 20px;
        }
    }
    
    @media screen and (max-width:767.98px) {
        .title-name-post {
            font-size: 24px;
        }
    }
    
    @media screen and (max-width:401.98px) {
        .title-name-post {
            font-size: 18px;
        }
        .title-time-post,
        .title-place-post,
        .link-buy-post {
            font-size: 15px;
        }
        .nextt,
        .prevv {
            top: 45%;
        }
    }
    
    .card-title-h-04 {
        font-size: 20px;
        padding-top: 5px;
        padding-right: 10px;
        color: rgb(255, 255, 255);
    }
    
    .title-ticket-cinema {
        color: rgb(255, 255, 255);
        padding-right: 40px;
        padding-top: 20px;
    }
    
    .div-text-ticket-cinema {
        background-color: rgb(179, 15, 34);
        border-right: none;
        padding-right: 0;
    }
    
    .div-img-cinema::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: 0.1rem solid white;
        outline-offset: -0.6rem;
        transform: scale(0);
        transition: all ease-in-out 0.5s;
    }
    
    .div-img-cinema-sm {
        display: none;
    }
    
    .row-ticket-cinema-1:hover .div-img-cinema::after {
        transform: scale(1);
    }
    
    .ul-ticket-cinema {
        padding-right: 40px;
        display: flex;
        margin-top: 50px;
        list-style: none;
    }
    
    .div-img-cinema {
        padding-left: 0;
        padding-right: 0;
        /* height: 20%; */
    }
    
    .img-cinema {
        object-fit: cover;
        height: 100%;
    }
    
    .text-ticket-p {
        padding-right: 40px;
    }
    
    .li-ticket-cinema,
    .text-ticket-p {
        color: rgb(255, 255, 255);
        padding-left: 20px;
        font-size: 13px;
    }
    
    .text-ticket-btn-link {
        color: rgb(179, 15, 34);
    }
    
    .text-ticket-btn:hover .text-ticket-btn-link {
        color: white;
        text-decoration: none;
    }
    
    .text-ticket-btn {
        background-color: white;
        border-radius: 0;
        transition: all 0.3s;
        border: 2px solid white;
    }
    
    .text-ticket-btn:hover {
        background-color: transparent;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .text-ticket-btn-div {
        margin-left: 80px;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    
    @media screen and (max-width:767.98px) {
        .ul-ticket-cinema {
            padding-right: 40px;
            display: flex;
            margin-top: 5px;
        }
        .text-ticket-btn-div {
            text-align: center;
            margin-left: 0px;
            padding-top: 0px;
            margin-bottom: 0px;
        }
        .div-img-cinema {
            display: none;
        }
        .li-ticket-cinema {
            font-size: 11px;
        }
        .img-cinema-sm {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
        .div-img-cinema-sm {
            display: block;
            height: 300px;
            width: 100%;
            padding-bottom: 20px;
        }
        .div-title-ticket-cinema {
            position: absolute;
            background-color: rgb(179, 15, 34);
            right: 0px;
            top: 10px;
            opacity: 0.6;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding-right: 15px !important;
            padding-left: 60px !important;
            transition: all 0.3s;
        }
        .div-text-ticket-cinema:hover .div-title-ticket-cinema {
            opacity: 1;
        }
        .title-ticket-cinema {
            padding: 0px !important;
        }
        .div-text-ticket-cinema {
            position: relative;
            padding-left: 0px;
        }
    }
    
    @media screen and (max-width:399.98px) {
        .li-ticket-cinema {
            padding-top: 5px;
        }
        .ul-ticket-cinema {
            display: block;
        }
    }
    /*  end content-2-ticket */
    /* content-3-best-mm,content-4-movie , content-5-music ,content-6-music*/
    
    a {
        text-decoration: none;
    }
    
    .content-3-best-mm,
    .content-5-music {
        background-color: rgba(136, 136, 136, 0.493);
    }
    
    .slide-img-02::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0.2rem solid white;
        transform: scale(0);
        border-radius: 50%;
        transition: all ease-in-out 0.5s;
    }
    
    .link-name-star {
        color: #ffffff;
        font-size: 20px;
    }
    
    .link-name-star:hover {
        color: #afafaf;
        text-decoration: none;
    }
    
    .box-02:hover .slide-img-02::after {
        transform: scale(1);
    }
    
    .box-01 {
        width: 500px;
    }
    
    .box-02 {
        border-radius: 50% !important;
        height: 300px;
    }
    
    .box,
    .box-02 {
        width: 300px;
    }
    
    .box-02,
    .box-01,
    .box {
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        margin: 25px;
    }
    
    .slide-img-01 {
        height: 250px;
        position: relative;
    }
    
    .slide-img-02 {
        height: 300px;
        position: relative;
    }
    
    .slide-img {
        height: 450px;
        position: relative;
    }
    
    .div-name-item-slider {
        background-color: rgba(180, 173, 173, 0.6);
    }
    
    .div-name-item-slider,
    .div-name-item-slider-01 {
        margin-top: 20px;
        width: 100%;
        justify-content: flex-start;
        display: flex;
        position: absolute;
        transition: all .4s;
    }
    
    .name-item-slider-01 {
        width: 70%;
        padding-top: 5px;
        background-color: rgba(56, 54, 54, 0.9);
    }
    
    .name-item-slider {
        width: 70%;
        padding-top: 5px;
        background-color: rgba(161, 24, 24, .8);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%);
    }
    
    .h-name-slider {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    
    .slide-img img,
    .slide-img-01 img,
    .slide-img-02 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    
    .price {
        color: #333333;
        font-weight: 600;
        font-size: 1.1rem;
        font-family: poppins;
        letter-spacing: 0.5px;
    }
    
    .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: right;
    }
    
    .div-ul-item-slider {
        position: relative;
        top: 70%;
    }
    
    .div-ul-item-slider-01 {
        position: relative;
        top: 30%;
    }
    
    .ul-item-slider,
    .ul-item-slider-01 {
        padding: 0;
        list-style-type: none;
    }
    
    .li-item-slider {
        border-bottom: 1px solid white;
    }
    
    .li-item-slider,
    .li-item-slider-01 {
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        color: white;
    }
    
    .div-buy-btn {
        position: relative;
        text-align: center;
        top: 30%;
    }
    
    .div-buy-btn-01 {
        position: relative;
        text-align: center;
        top: 40%;
    }
    
    .buy-btn-01 {
        width: 160px;
        padding: 3px 70px;
        height: 40px;
        background-color: transparent;
        border: 2px solid wheat;
        color: #ffffff;
        font-weight: 700;
    }
    
    .buy-btn-01:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .buy-btn {
        opacity: 0.6;
        width: 160px;
        padding: 3px 70px;
        height: 40px;
        background-color: #FFFFFF;
        color: #252525;
        font-weight: 700;
    }
    
    .buy-btn:hover {
        opacity: 1;
        padding: 3px 115px;
        color: #FFFFFF;
        background-color: rgb(161, 24, 24);
        text-decoration: none;
        transition: ease-in-out 0.3s;
    }
    
    .overlay {
        visibility: hidden;
    }
    
    .slide-img:hover .div-name-item-slider,
    .slide-img-01:hover .div-name-item-slider-01 {
        opacity: 0;
    }
    
    .slide-img:hover .overlay,
    .slide-img-01:hover .overlay {
        visibility: visible;
        animation: fade 0.5s;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .more-div-news {
        position: relative;
    }
    
    .more-slider,
    .more-slider-00 {
        top: 10px;
        position: absolute;
    }
    
    .slider-01 {
        height: 60vh;
    }
    
    .slider {
        height: 85vh;
    }
    
    .slider,
    .slider-01 {
        width: 100%;
        margin-top: -20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (max-width:575.98px) {
        .slide-img-02 {
            height: 200px;
        }
        .box,
        .box-01 {
            width: 250px;
        }
        .div-ul-item-slider-01 {
            top: 15%;
        }
        .buy-btn-01 {
            padding: 2px 40px;
        }
        .buy-btn:hover {
            padding: 2px 90px;
        }
        .box-02 {
            width: 200px;
            height: 200px;
        }
    }
    /* end content-3-best-mm , end content-4-movie , end content-5-music , end content-6-music*/
    /* content-7 */
    
    .content-7 {
        background-image: url(../img/01connect.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .f-content-7 {
        background-color: rgba(27, 27, 29, 0.9);
        width: 500px;
        text-align: center;
        position: relative;
        left: 27%;
        padding: 25px;
    }
    
    .form-complat {
        color: white;
        border: 2px solid rgb(255, 255, 255);
        background-color: transparent;
    }
    
    .form-complat::placeholder {
        color: white;
        font-size: 1rem;
    }
    
    .btn-form:hover {
        background-color: #f8f9fa;
    }
    
    .form-complat:focus {
        background-color: transparent;
    }
    
    @media screen and (max-width:991.98px) {
        .f-content-7 {
            position: relative;
            left: 15%;
        }
    }
    
    @media screen and (max-width:767.98px) {
        .f-content-7 {
            position: relative;
            left: 0;
            padding: 25px;
        }
    }
    
    @media screen and (max-width:575.98px) {
        .f-content-7 {
            width: 350px;
            position: relative;
            left: 11%;
            padding: 10px;
        }
    }
    
    @media screen and (max-width:474.98px) {
        .f-content-7 {
            width: 100%;
            position: relative;
            left: 0%;
            padding: 10px;
        }
    }
    /* end content-7 */
    /* end content*/
    /* footer */
    
    .footer {
        background-color: rgb(190, 10, 10);
    }
    
    .footer-div-0 {
        background-color: rgb(160, 4, 4);
    }
    
    .footer-div {
        background-color: black;
    }
    
    .footer-icon {
        color: rgb(190, 10, 10);
        font-size: 2rem;
        text-decoration: none;
        transition: all .6s ease-in-out;
    }
    
    @media screen and (max-width:575.98px) {
        .footer-icon {
            font-size: 1.3rem;
        }
    }
    
    .footer-icon:hover {
        color: rgb(82, 81, 81);
    }
    /* end footer */