@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: 100;
    src: url(../../../../font/yekan.eot?#) format('embedded-opentype'), url(../../../../font/yekan.woff) format('woff'), url(../../../../font/yekan.ttf) format('truetype');
}

.font-y {
    font-family: 'yekan';
}

.d-rtl {
    direction: rtl;
}

body {
    overflow-x: hidden;
}


/* navbar */

.navbarr {
    position: relative;
    z-index: 200;
}

.navbar-navigation {
    width: 100%;
    height: 100vh;
    background-color: rgba(110, 102, 102, 0.5);
    position: fixed;
    right: -100%;
}

.nav-llist {
    width: 100%;
}

.nav-llink {
    font-family: 'yekan';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin: 20px;
    text-align: center;
    transition: all 0.5s;
}

.nav-llink:hover {
    text-decoration: none;
    color: rgb(145, 145, 155);
}

.nav-iitem {
    width: 100%;
    display: block;
    border-bottom: 1.6px solid white;
}

.navbar-navigation-right {
    width: 25%;
    height: 100vh;
    background-color: #383535;
    position: fixed;
    right: -25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.6s;
}


/* sin-rig */

.bnts {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-rig-btn {
    background-color: transparent;
    border: none;
}

.log-rig-btn:focus {
    outline: none;
}

.link-log-rig {
    width: 100%;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, rgb(143, 21, 21) 50%, rgb(161, 24, 24)50%);
    height: 100%;
}

.link-log-rig:hover {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:389.98px) {
    .link-log-rig {
        width: 100%;
        color: white;
        padding: 10px 20px;
        font-size: 12px;
    }
}


/*end  sin-rig */

.checkbox:checked~.navbar-navigation {
    right: 0;
}

.checkbox:checked~.navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked~.hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked~.hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked~.hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked~.hamburger-menu .menu-line {
    background-color: rgb(255, 255, 255);
}

.checkbox:checked~.hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.checkbox:checked .navbar {
    background-color: rgba(121, 121, 121, 0.5);
}

.hamburger-menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 300;
}

.menu {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s;
}

.menu-line {
    width: 100%;
    height: 4px;
    background-color: rgb(155, 153, 153);
    transition: all .5s .5s;
    transform-origin: right;
}

@media screen and (max-width:1199.98px) {
    .navbar-navigation-right {
        width: 30%;
        right: -30%;
    }
    .hamburger-menu {
        top: 7%;
        right: 5%;
    }
}

@media screen and (max-width:799.98px) {
    .navbar-navigation-right {
        width: 37%;
        right: -37%;
    }
    .hamburger-menu {
        top: 7%;
        right: 5%;
    }
}

@media screen and (max-width:575.98px) {
    .menu {
        margin-top: 0 !important;
    }
    .navbar-navigation-right {
        width: 60%;
        right: -60%;
    }
}

@media screen and (max-width:409.98px) {
    .navbar-navigation-right {
        width: 70%;
        right: -70%;
    }
}


/* end navbar */


/* navbar content */

.dropdown-item {
    text-align: right !important;
    color: white !important;
    padding-bottom: 15px !important;
    border-bottom: 2px dashed white !important;
}

.div-dropdown-navbar {
    position: absolute;
    will-change: transform;
    top: 0px !important;
    left: 0px !important;
    box-shadow: -1px 1px 6px rgba(170, 176, 209, 0.3);
    border-radius: 0;
    transform: translate3d(0px, 38px, 0px);
}

.drop-tle {
    color: white;
    padding: 6px 20px !important;
    border-radius: 0 !important;
    border: none;
    border-top: 2px solid white !important;
    transition: all 0.3s;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
}

.drop-tle:focus {
    outline-style: none !important;
}

.drop-tle:hover {
    color: rgb(97, 91, 91);
}

.nav-content {
    box-shadow: 0 0 7px #333;
}

.dropdown-item:hover {
    color: rgb(17, 17, 17) !important;
    background-color: gray !important;
}

.navbar {
    background: rgb(161, 24, 24);
    display: flex !important;
    justify-content: space-around !important;
}

@media screen and (max-width:959.98px) {
    .navbar {
        background: rgb(161, 24, 24);
        display: flex;
        justify-content: center !important;
    }
    .drop-1 {
        margin-left: 30px !important;
    }
    .navbar-navigation-right {
        width: 50%;
        right: -50%;
    }
}

@media screen and (max-width:767.98px) {
    .dropdown-item {
        text-align: center;
        font-size: 15px;
    }
    .drop-1 {
        margin-left: -10px !important;
    }
    .drop-tle {
        font-size: 13px;
    }
    .dropdown-menu {
        width: 20px !important;
    }
}

@media screen and (max-width:575.98px) {
    .navbar {
        justify-content: center !important;
    }
    .nav-collapse-bar {
        display: block !important;
    }
    .nav-content {
        display: none !important;
    }
    .navbar-navigation-right {
        overflow-y: scroll;
        padding-top: 50% !important;
    }
    .btn-div-or {
        padding-bottom: 100px;
    }
    .nav-llink,
    .navbar-toggler {
        font-size: 15px !important;
    }
    .bar {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .nav-llink-2 {
        padding-right: 20px !important;
    }
}

@media screen and (max-width:449.98px) {
    .navbar-navigation-right {
        padding-top: 90% !important;
    }
}

.nav-collapse-bar {
    display: none;
}

.bar {
    background: rgb(54, 51, 51);
}

.bar:focus {
    background: rgb(27, 25, 25);
}

.navbar-icon {
    font-size: 1.3rem;
    padding-left: 5PX;
    color: var(--blue-me);
}

.navbar-toggler:focus {
    outline: none !important;
}

.nav-link {
    color: black;
    text-transform: capitalize;
}

.nav-link:hover {
    color: var(--blue-me);
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--blue-me);
    text-decoration: none !important;
    transition-property: color;
    text-rendering: 2s;
    transition-timing-function: linear;
}

.nav-icon:hover {
    color: black;
}

.nav-llink-2 {
    font-family: 'yekan';
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 7px;
    text-align: right;
    transition: all 0.5s;
    background-color: rgb(34, 33, 34);
}

.nav-llink-2:hover {
    text-decoration: none;
    color: rgb(145, 145, 155);
}


/* end navbar content */


/* header */

.header-news-00 {
    width: 100%;
    position: relative;
    height: 70%;
    background-color: rgb(0, 0, 0);
}

.div-text-news {
    margin-top: 70px;
}

.img-header-news {
    width: 100%;
    opacity: 0.4;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:575.98px) {
    .header-news-00 {
        width: 100%;
        position: relative;
        height: 50%;
        background-color: rgb(0, 0, 0);
    }
}

.text-header-news {
    position: relative;
    background-color: rgb(20, 20, 20);
    height: 10%;
}

.div-img-bot {
    bottom: 0px;
    right: 200px;
    position: absolute;
    width: 180px;
    height: 180px;
}

.img-bot {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
}

.ul-text-header {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
    padding-top: 15px;
}

.li-text-header {
    color: white;
    font-size: 20px;
}

.icon-header {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-left: 12px;
    text-decoration: none;
    transition: all .6s ease-in-out;
}

.icon-header:hover {
    color: rgb(82, 81, 81);
}

.div-icons {
    position: absolute;
}

@media screen and (max-width:1199.98px) {
    .div-img-bot {
        right: 100px;
    }
    .text-header-news {
        height: 12%;
    }
}

@media screen and (max-width:991.98px) {
    .div-img-bot {
        right: 50px;
        width: 150px;
        height: 150px;
    }
    .li-text-header {
        font-size: 15px;
    }
}

@media screen and (max-width:767.98px) {
    .div-img-bot {
        right: 50px;
        width: 130px;
        height: 130px;
    }
    .ul-text-header {
        margin-right: 100px;
        padding-top: 20px;
    }
    .div-icons {
        left: 10px;
    }
    .icon-header {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:575.98px) {
    .div-img-bot {
        right: 30px;
        width: 130px;
        height: 130px;
    }
    .text-header-news {
        position: relative;
        background-color: rgb(20, 20, 20);
        height: 12%;
    }
    .li-text-header {
        position: relative;
        font-size: 12px;
    }
    .icon-header {
        font-size: 1.2rem;
        padding-right: 5px;
    }
    .div-icons {
        position: absolute;
        top: 30px;
    }
}

@media screen and (max-width:399.98px) {
    .ul-text-header {
        display: block !important;
        padding-top: 10px;
        padding-right: 20px;
        text-align: right;
    }
    .icon-header {
        font-size: 1.1rem;
        padding-right: 0px;
    }
    .div-img-bot {
        right: 10px;
        width: 110px;
        height: 110px;
    }
    .div-icons {
        top: 10px;
        position: absolute;
        right: 0%;
    }
}


/* content */

.h-title-post {
    color: white;
    font-weight: 600;
}

.h5-title-post {
    color: white;
    line-height: 30px;
}

.sub-title-ticket {
    position: relative;
}

.sub-title-ticket-h3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #cccccc;
    bottom: 0;
    left: 0;
}

.p-text-all {
    color: white;
    line-height: 35px;
    text-align: justify;
}

.div-img-text-post {
    height: 50%;
}

.img-text-post {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-in-text {
    margin-left: 10px;
    float: right;
}

.img-text-post.slide,
.img-in-text-01.slide,
.img-in-text.slide {
    opacity: 0;
    transform: translatey(150px) scale(0.9);
    transition: all .3s;
}

.slide.reveal {
    opacity: 1;
    transform: translatey(0px) scale(1);
}

.img-in-text-01 {
    width: 500px;
    height: 300px;
    float: left;
    object-fit: cover;
    margin-right: 10px;
}

@media screen and (max-width:991.98px) {
    .img-in-text {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-left: 0%;
    }
}

@media screen and (max-width:767.98px) {
    .h-title-post {
        font-size: 20px;
        line-height: 30px;
    }
    .h5-title-post {
        font-size: 15px;
        color: white;
        line-height: 30px;
    }
    .img-in-text-01 {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-right: 0%;
    }
}


/* end content */


/* like  */

.div-news-1 {
    background-color: rgb(158, 0, 0);
    width: 300px;
    height: 60px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.header-news-1 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 70px;
}

.h3-news-1 {
    color: white;
    font-size: 21px;
    text-align: center;
    padding-top: 18px;
}

@media screen and (max-width:575.98px) {
    .div-news-1 {
        width: 200px;
        border-bottom: 2px solid white;
        height: 50px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .header-news-1 {
        justify-content: center;
    }
    .h3-news-1 {
        color: white;
        font-size: 17px;
        text-align: center;
        padding-top: 18px;
    }
}

.div-news-solo-1 {
    background: url("../img01/news-1.webp") center no-repeat;
}

.div-news-solo-3 {
    background: url("../img01/cherry-h.webp") center no-repeat;
}

.div-news-solo-4 {
    background: url("../img01/the-expanse-tv-shows.webp") center no-repeat;
}

.div-news-solo-1,
.div-news-solo-3,
.div-news-solo-4 {
    transition: all .5s;
    height: 400px;
    position: relative;
    margin-top: 25px;
}

.headers-news {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.btn-col-news {
    opacity: 0;
    background-color: rgb(161, 24, 24) !important;
    border-radius: 0 !important;
    transition: all .5s;
}

.div-news-solo-1:hover .btn-col-news {
    opacity: 1;
}

.div-news-solo-3:hover .btn-col-news {
    opacity: 1;
}

.div-news-solo-4:hover .btn-col-news {
    opacity: 1;
}

.btn-col-news-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

.btn-col-news:hover .btn-col-news-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 60px;
    padding-right: 60px;
}

.header-text-news1 {
    padding: 0px 15px;
    font-size: 20px;
}

.header-text-news2 {
    padding: 5px 15px;
    font-size: 15px;
}

.ul-news-col {
    text-align: center;
    background-color: rgb(161, 24, 24);
    list-style: none !important;
}

.li-news-col {
    padding-left: 20px;
}

.news-text-1 {
    height: 100%;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: right;
    color: white;
    transition: all .4s;
}

.div-news-solo-1:hover,
.div-news-solo-3:hover,
.div-news-solo-4:hover {
    transform: scale(0.96);
}

.div-news-solo-1:hover .news-text-1 {
    opacity: 1;
}

.div-news-solo-3:hover .news-text-1 {
    opacity: 1;
}

.div-news-solo-4:hover .news-text-1 {
    opacity: 1;
}

.btn-link-cols {
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: all 0.4s;
}

.btn-link-cols:hover {
    color: rgb(187, 187, 187);
    /* font-size: 25px; */
    text-decoration: none;
}

@media screen and (max-width:767.98px) {
    .div-news-solo-1,
    .div-news-solo-3,
    .div-news-solo-4 {
        margin-top: 15px;
    }
}


/* end content-1-news */


/* end like */


/* footer */

.footer {
    background-color: rgb(190, 10, 10);
}

.footer-div-0 {
    background-color: rgb(160, 4, 4);
}

.footer-div {
    background-color: black;
}

.footer-icon {
    color: rgb(190, 10, 10);
    font-size: 2rem;
    text-decoration: none;
    transition: all .6s ease-in-out;
}

@media screen and (max-width:575.98px) {
    .footer-icon {
        font-size: 1.3rem;
    }
}

.footer-icon:hover {
    color: rgb(82, 81, 81);
}


/* end footer */